/* CSS Document */
body{ padding:0; margin:0; font:12px Arial, Helvetica, sans-serif; background:url(images/bg.png) center repeat-y; background-color:#dfe3e8; color:#566666}


.btn{border-bottom:1px solid #E7E7E7;border-right:1px solid #E7E7E7; display:inline-block; }
.btn span{ background:none repeat scroll 0 0 #EEEEEE; border-color:#CCCCCC #999999 #999999 #CCCCCC;border-style:solid; border-width:1px; min-height:18px; display:inline-block}
.btn input{ margin:0; vertical-align:top;min-height:18px; background:url(images/grad.png) bottom repeat-x; border:medium none; cursor:pointer; font:11px Arial, Helvetica, sans-serif; text-transform:uppercase}
.btn a{vertical-align:top;min-height:18px; background:url(images/grad.png) bottom repeat-x; border:medium none;font:12px Arial, Helvetica, sans-serif; display:inline-block; padding:4px 7px 0; color:#000; text-decoration:none}

.lh16{ line-height:17px}

a{ color:#006699; text-decoration:none}
a:hover{ text-decoration:underline}

.w-1-4{ width:25%}.w-3-4{ width:75%} 
.w-1-2{ width:50%}
.w-1-5{ width:20%}.w-2-5{ width:40%}.w-3-5{width:60%}.w-4-5{ width:80%}

.h10{ height:10px;}.h18{ height:18px;} .h22{ height:22px;}
.clear{ clear:both; min-height:1px;}
.wrapper{ margin:0 auto; width:994px; clear:both}

.hline{ height:1px; background:#eef0f0; line-height:1px; clear:both; font-size:1px;}

.left{ float:left} .right{ float:right}

.top{color:#aeaeae; font-size:10px; text-transform:uppercase}
.p2{ padding:2px;}.p5{ padding:5px;}.p10{ padding:10px;}.p20{ padding:20px;}
.m2{ margin:2px}.m5{ margin:5px;}.m10{ margin:10px;}.m20{ margin:20px;}.m040{ margin:0 40px}


.txt-center{ text-align:center}.txt-left{ text-align:left}.txt-right{ text-align:right}
.fsmall{ font-size:11px} .bold{ font-weight:bold}

.top .gap{ margin:0 10px}

.color-blue{color:#006699;}

img{ border:0}

.menu{padding:0;margin:0;font-size:11px; line-height:16px}
.menu li{ float:left; margin:0 3px; padding:0; list-style:none; }
.menu a{display:block; padding:4px 8px;}


.menu-tl{ float:left;  }
.menu-tl li{border-left:#f5f5f5 1px solid  }
.menu-tl a{ color:#919191; }

.menu-tr{ float:right; }
.menu-tr li{ border-right:#f1f1f1 1px solid  }
.menu-tr a{ }

ul.menu-c{ margin:3px}
ul.menu-c>li{ position:relative;border:#e5e5e5 1px solid;-moz-border-radius:4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0; border-radius:4px 4px 0 0; color:#919191}
ul.menu-c>li:hover{ background:#f1f1f1;border-top:#CCC 1px solid; border-right:#CCC 1px solid;border-left:#ccc 1px solid; border-bottom-style:inset; text-decoration:none}
.menu-c ul li{  background:#f1f1f1; text-align:left; display:block; float:none;margin:0; }
ul.menu-c ul li a{font-size:12px; text-transform:none; line-height:14px;}
ul.menu-c li:hover ul{ display:block}
ul.menu-c li ul{ display:none; position:absolute; width:240px; z-index:5; top:24px; left:-1px; padding:0; margin:0; border-top:#f1f1f1 1px solid; border-bottom:#CCC 2px solid; border-right:#CCC 1px solid;border-left:#CCC 1px solid;-moz-border-radius:0 5px 4px 4px;-webkit-border-radius:0 5px 4px 4px; border-radius:0 5px 4px 4px;  -moz-box-shadow: 3px 3px 3px #e5e5e5;-webkit-box-shadow: 3px 3px 3px #e5e5e5;box-shadow: 3px 3px 3px #e5e5e5; }
ul.menu-c>li>ul a:hover{ color:#006699 ; text-decoration:underline;  }
ul.menu-c li.last ul{ left:-100%}
ul.menu-c a{ color:#4c4c4c; text-transform:uppercase; font-size:11px; line-height:17px;}
ul.menu-c a:hover{ text-decoration:none}


h1{ color:#006699; font-size:18px}
h3{color:#006699;}



.std{ background-color:#aab7be;-moz-border-radius:4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0; border-radius:4px 4px 0 0;}
.std a{ color:#FFF;}




.nav{ margin:0; padding:23px 17px 0 5px; float:left; background:url(images/v-line.png) 100% top no-repeat}
.nav li{ list-style:none;color:#647878; padding:2px 17px; margin:0}
.nav a{ color:#647878; line-height:18px; padding:0px 7px;}


.nav-right{margin:0; padding:0; float:right; width:820px; background:#FFF}
.nav-right li{margin:5px; padding:0; list-style:none; float:left; height:110px; width:150px;}
.nav-right a{margin:0 auto; padding:14px; display:block; text-align:center; }







.hline-red{height:4px ; background-color:#c00000; margin:0 15px;}
.hline-gray{height:4px ; background-color:#aabebe; margin:0 15px;}

.ipt{ border:#dedede 1px solid ; border-bottom-color:#ccc; border-right-color:#ccc}


.footer{ background-color:#ebebeb; height:200px;}












