/*@import url("rte.css") ;
@import url("form.css") ;

@import url("module.css") ;
@import url("print.css") ;*/


@import url("nyroModal.css") ;
@import url('global.css') ;
@import url('layout.css') ;

body{ padding:0; margin:0; font:12px Arial, Helvetica, sans-serif; background:url(../images/bg.png) center repeat-y; background-color:#dfe3e8; color:#566666}

#main{ background-color:#FFF}

a{ color:#006699; text-decoration:none}
a:hover{ text-decoration:underline}

.lh16{ line-height:17px}

.btn{border-bottom:1px solid #E7E7E7;border-right:1px solid #E7E7E7; display:inline-block; }
.btn span{ background:none repeat scroll 0 0 #EEEEEE; border-color:#CCCCCC #999999 #999999 #CCCCCC;border-style:solid; border-width:1px; min-height:20px; display:inline-block}
.btn input{ margin:0; vertical-align:top;min-height:20px; background:url(../images/grad.png) bottom repeat-x; border:medium none; cursor:pointer; font:11px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#666}
.btn a{vertical-align:top;min-height:20px; background:url(../images/grad.png) bottom repeat-x; border:medium none;font:12px Arial, Helvetica, sans-serif; display:inline-block; padding:4px 7px 0; color:#666; text-decoration:none}


.price{ color:#c00000; font-weight:bold;}

.grad{ background:url(../images/grad.png) repeat-x}

.borders{ border:#dedede 1px solid ; border-bottom-color:#ccc; border-right-color:#ccc;}

.wt-1-4{ width:210px}
.wt-1-2{width:485px}
.wt-2-4{width:560px}
.wt-4-4{width:224px}


.wth-1-4{ width:240px}
.wth-1-2{width:485px}


.top .gap{ margin:0 10px}

.h-10{ height:10px;}.h-18{ height:18px;} .h-22{ height:22px;}
.clear{ clear:both; min-height:1px;}

.wrapper{ margin:0 auto; width:994px; clear:both}

.hline{ height:1px; background:#eef0f0; line-height:1px; clear:both; font-size:1px;}


.top{color:#aeaeae; font-size:10px; text-transform:uppercase}

.fsmall{ font-size:11px} .bold{ font-weight:bold}


.color-blue{color:#006699;}

img{ border:0}

.menu{padding:0;margin:0;font-size:11px; line-height:16px}
.menu li{ float:left; margin:0 3px; padding:0; list-style:none; }
.menu a{display:block; padding:4px 8px;}


.menu-tl{ float:left;  }
.menu-tl li{border-left:#f5f5f5 1px solid  }
.menu-tl a{ color:#919191; }

.menu-tr{ float:right; }
.menu-tr li{ border-right:#f1f1f1 1px solid  }
.menu-tr a{ }

ul.menu-c{ margin:3px}
ul.menu-c>li{ position:relative;border:#e5e5e5 1px solid;-moz-border-radius:4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0; border-radius:4px 4px 0 0; color:#919191}
ul.menu-c>li:hover{ background:#f1f1f1;border-top:#CCC 1px solid; border-right:#CCC 1px solid;border-left:#ccc 1px solid; border-bottom-style:inset; text-decoration:none}
.menu-c ul li{  background:#f1f1f1; text-align:left; display:block; float:none;margin:0; }
ul.menu-c ul li a{font-size:12px; text-transform:none; line-height:14px;}
ul.menu-c li:hover ul{ display:block}
ul.menu-c li ul{ display:none; position:absolute; width:240px; z-index:5; top:24px; left:-1px; padding:0; margin:0; border-top:#f1f1f1 1px solid; border-bottom:#CCC 2px solid; border-right:#CCC 1px solid;border-left:#CCC 1px solid;-moz-border-radius:0 5px 4px 4px;-webkit-border-radius:0 5px 4px 4px; border-radius:0 5px 4px 4px;  -moz-box-shadow: 3px 3px 3px #e5e5e5;-webkit-box-shadow: 3px 3px 3px #e5e5e5;box-shadow: 3px 3px 3px #e5e5e5; }
ul.menu-c>li>ul a:hover{ color:#006699 ; text-decoration:underline;  }
ul.menu-c li.last ul{ left:-140%}
ul.menu-c a{ color:#4c4c4c; text-transform:uppercase; font-size:11px; line-height:17px;}
ul.menu-c a:hover{ text-decoration:none}


h1{ color:#006699; font-size:18px}
h3{color:#006699;}



.selected{ background-color:#aab7be;-moz-border-radius:4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0; border-radius:4px 4px 0 0;}
.selected a{ color:#fff;}

.std{ background-color:#FFF;}
.std a{ color:#006699;}



.nav{ margin:0; padding:5px 17px 0 5px; float:left; background:url(../images/v-line.png) 100% top no-repeat}
.nav li{ list-style:none;color:#647878; padding:2px 17px; margin:0}
.nav a{ color:#647878; line-height:20px; padding:0px 7px;}


.nav-right{margin:0; padding:0; float:right; width:820px; background:#FFF}
.nav-right li{margin:5px; padding:0; list-style:none; float:left; height:110px; width:150px;}
.nav-right a{margin:0 auto; padding:14px; display:block; text-align:center; }







.hline-red{height:4px ; background-color:#c00000;}
.hline-gray{height:4px ; background-color:#aabebe; }

.ipt{ border:#dedede 1px solid ; border-bottom-color:#ccc; border-right-color:#ccc;padding:2px; }
.ipt:hover,.ipt:focus{ background:#fcfcfc;}

.footer{ background-color:#ebebeb; height:200px;}

